.reviewNavbar {
  color-scheme: dark;
  background-color: var(--surface-500);
  --review-navbar-text-color: rgba(255, 255, 255, 0.95);
  color: var(--review-navbar-text-color);
  padding: 4px 16px;
  display: flex;
  align-items: center;
  justify-content: space-between;
  & :global(.p-button-secondary) {
    border-color: var(--review-navbar-text-color);
    color: var(--review-navbar-text-color);
  }
  & :global(.p-dropdown) {
    border-color: var(--review-navbar-text-color);
    border-left-width: 0;
    border-right-width: 0;
  }
  :global(.dark-theme) & {
    background-color: var(--surface-100);
  }
}
