.sidebarContent {
  height: 100%;
  overflow-y: auto;
  display: flex;
  flex-direction: column;
}

.attachedFiles {
  margin: 4px 0;
  flex-grow: 1;
  flex-shrink: 1;
}

.fileRow {
  display: flex;
  align-items: center;
}

.fileInteraction {
  flex-shrink: 1;
  flex-grow: 1;
  padding-left: 0.2rem;
  padding-right: 0.2rem;
  & :global(.p-button-label) {
    text-align: left;
    text-overflow: ellipsis;
    overflow-x: hidden;
    font-size: 0.8rem;
  }
}

.fileSmallInteraction {
  flex-shrink: 0;
  flex-grow: 0;
}

.uploadFilesButtonContainer {
  flex-shrink: 0;
  flex-grow: 0;
  & > * {
    width: 100%;
  }
}
