.sidebarCapytaleActions {
  margin-bottom: 8px;
  display: flex;
  flex-direction: column;
  gap: 8px;
  & > button {
    width: 100%;
  }
}

.sidebarFieldsetButtons :global(.p-fieldset-content) {
  display: flex;
  flex-direction: column;
  gap: 6px;
}
