.cardSelector {
  display: flex;
  flex-direction: column;
  gap: 1.25rem;
  & :global(.p-card-title) {
    font-size: 1.2rem;
  }

  & :global(.p-card-content) {
    padding: 0.5rem 0;
  }

  & p {
    margin: 0;
  }
}

.cardSelectorOption {
  padding: 1.25rem;
  display: flex;
  gap: 1.25rem;
  background-color: var(--surface-100);
  box-shadow: none;
  border: 1px solid var(--surface-300);
  border-radius: 6px;
  cursor: pointer;
  transition: background-color 0.2s;
  &[data-selected="true"] {
    background-color: var(--surface-0);
    border-color: var(--primary-color);
  }
  &:hover {
    background-color: var(--surface-0);
  }
}

.cardSelectorOptionRadio {
  display: flex;
  align-items: center;
}

.cardSelectorOptionTitle {
  font-size: 1.2rem;
  font-weight: 700;
  margin-bottom: 0.5rem;
}