.activityInfo {
  flex-shrink: 1 !important;
  flex-grow: 1;
  display: flex;
  justify-content: center;
  align-items: center;
  overflow: hidden;
  gap: 12px;
}

.activityInfoText {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  overflow: hidden;
  & > * {
    overflow: hidden;
    text-overflow: ellipsis;
    white-space: nowrap;
    max-width: 100%;
  }
}

.activityInfoTitle {
  font-size: 20px;
  font-weight: 500;
}

.activityLogo {
  width: 35px;
  height: 37px;
  border-radius: 6px;
  flex-shrink: 0;
  @media only screen and (max-width: 992px) {
    display: none;
  }
}
