.app {
  height: 100%;
  height: 100dvh;
  display: grid;
  grid-template-rows: auto 1fr;
}

.navbarContainer {
  min-width: 0;
}

.appPedagoSplitter {
  height: 100%;
  border: none;
  border-radius: 0;
  overflow-y: hidden;
  & > * {
    overflow-y: hidden;
  }
  .pedagoContainer[data-show-pedago="false"] & {
    & > :first-child {
      display: none;
    }
    & > :nth-child(2) {
      display: none;
    }
  }
}

.pedagoPanel {
  width: 100%;
  height: 100%;
  overflow-y: hidden;
}

.contentPanel {
  height: 100%;
  background-color: var(--surface-a);
}

.pedagoContainer {
  overflow-y: hidden;
  display: grid;
  :global(.layout-horizontal) & {
    grid-template-columns: 1fr;
    grid-template-rows: 1.2rem 1fr;
  }
  :global(.layout-vertical) & {
    grid-template-rows: 1fr;
    grid-template-columns: 1.2rem 1fr;
  }
  &[data-show-pedago="true"] {
    display: block;
  }
}

.hiddenPedago {
  background-color: var(--surface-200);
  .pedagoContainer[data-show-pedago="true"] & {
    display: none;
  }
}

.hiddenPedagoButton {
  width: 100%;
  height: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
  cursor: pointer;
  & > i {
    font-size: 1rem;
  }
  &:hover {
    background-color: rgba(128, 128, 128, 0.05);
  }
  &:active {
    background-color: rgba(128, 128, 128, 0.2);
  }
}
