body {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", "Roboto", "Oxygen",
    "Ubuntu", "Cantarell", "Fira Sans", "Droid Sans", "Helvetica Neue",
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, "Courier New",
    monospace;
}

html {
  overscroll-behavior: none;
}

html,
body,
#root {
  height: 100%;
}

.p-splitter-horizontal > .p-splitter-gutter {
  width: 6px !important;
}
.p-splitter-vertical > .p-splitter-gutter {
  height: 6px !important;
}

@media (pointer: coarse) {
  .p-splitter-horizontal > .p-splitter-gutter {
    width: 12px !important;
  }
  .p-splitter-vertical > .p-splitter-gutter {
    height: 12px !important;
  }
}

.p-splitter-gutter {
  background-color: var(--surface-200);
}

.p-splitter-gutter-handle,
.p-splitter-gutter-resizing {
  background-color: var(--surface-400);
}

*:has(> .editor-shell) {
  /* Rich text editor */
  background-color: white;
  color-scheme: light;
}

.editor-shell {
  text-align: start;
}

.p-splitter-panel:has(> .meta-player-content-cover) {
  position: relative;
}

.meta-player-content-cover {
  display: none;
  width: 100%;
  height: 100%;
  position: absolute;
  top: 0;
  left: 0;
  z-index: 1000;
  background-color: rgba(0, 0, 0, 0);
  .p-splitter-resizing & {
    display: block;
  }
}

#meta-player-content {
  height: 100%;
  background-color: var(--surface-a);
}

:has(> #meta-player-content) {
  height: 100%;
  background-color: var(--surface-a);
}

.sidebarFieldset {
  margin-bottom: 8px;
}

.sidebarRadioButtons {
  display: flex;
  flex-direction: column;
  gap: 4px;
}

.sidebarRadioGroup {
  display: flex;
  gap: 8px;
  align-items: center;
}

#metaPlayerHelpDialog {
  width: 80vw;
  height: 80vh;
}

#metaPlayerHelpDialog_content {
  padding: 0;
  & iframe {
    width: 100%;
    height: 100%;
    border: 0;
    display: block;
  }
}

.anti-cheat-content {
  height: 100vh;
  height: 100dvh;
  width: 100vw;
  overflow: hidden;
}

.anti-cheat h1:first-child {
  margin-top: 0;
}

.p-button-group .p-button:not(:last-child):not(:active):not(:focus) {
  border-right: 0 !important;
}