.navbar {
  --navbar-text-color: rgba(255, 255, 255, 0.95);
  background-color: var(--surface-800);
  display: flex;
  align-items: center;
  color: var(--navbar-text-color);
  overflow: hidden;
  color-scheme: dark;
  :global(.dark-theme) & {
    --navbar-text-color: var(--text-color);
    background-color: var(--surface-50);
  }
  & :global(.p-button-outlined),
  & :global(.p-button-text) {
    color: var(--navbar-text-color);
  }
  & :global(.p-button-outlined) {
    border-color: var(--navbar-text-color);
  }
  :global(.light-theme) & :global(.p-button.p-button-secondary:enabled:focus) {
    box-shadow:
      0 0 0 2px #1c2127,
      0 0 0 4px rgba(255, 255, 255, 0.7),
      0 1px 2px 0 rgba(0, 0, 0, 0);
  }
  :global(.light-theme) & :global(.p-button.p-button-warning:enabled:focus) {
    box-shadow:
      0 0 0 2px #1c2127,
      0 0 0 4px rgba(249, 115, 22, 0.7),
      0 1px 2px 0 rgba(0, 0, 0, 0);
  }
}

.navbarContainer {
  height: 60px;
  flex-grow: 1;
  display: flex;
  justify-content: space-between;
  align-items: center;
  gap: 16px;
  overflow: hidden;
  & > * {
    flex-shrink: 0;
  }
}

.navbarLogo {
  font-family: Ubuntu, Tahoma, "Helvetica Neue", Helvetica, Arial, sans-serif;
  font-weight: 700;
  font-size: 24px;
  letter-spacing: 2px;
  height: 100%;
  & > * {
    height: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
    padding: 0 16px;
    color: var(--navbar-text-color);
    text-decoration: none;
    &:hover {
      background-color: rgba(255, 255, 255, 0.1);
    }
  }
}
